.panel-heading {
    background-color: rgba(235, 232, 232, 0.788);
}

.panel-group {
   margin-top: 15px;
}

.titulo-depoimentos {
    background-color: #0275D8;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
}

.feedback {
    text-decoration: underline;
    font-size: 20px;
}


.contato-select,
.grupo-radio {
    width: 50% !important;
    display: inline-block;
}

.btn {
    margin-top: 10px;
}

footer {
    margin-top: 10px;
    background-color: #333;
    color: #FFF;
    padding: 20px;   
}

footer addres:last-child {
    margin-bottom: 0;
}